h4 {
  color: #808080;
  margin-left: 20px;
}

.data_pers{
  margin-left: 40px;
}

.combo{
  display: inline-block;
}

table{
  text-align: center;
  width: 100%;
}

th{
  background-color: lightgray;
}

td{
  background-color: lightblue;
}

.tab_tf{
  background-color: bisque;
}